<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.CognitiveServices.Vision.CustomVision.Prediction" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Azure.CognitiveServices.Vision.CustomVision.Training" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.ProjectOxford.Vision" version="1.0.393" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.18" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net461" />
</packages>